@font-face {
  font-family: 'Yekan';
  src: url('../assets/Yekan.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yekan-Light';
  src: url('../assets/iranyekanweblight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


html, body {
  font-family: 'Yekan', sans-serif;
  font-family: 'Yekan-Light', sans-serif;
}
