html {
    scroll-behavior: smooth;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.header-t{
    width: 100%;
    height: 57px;
    background-color:#454545;
    color: white;
    padding: 10px 0;
    line-height: 24px;
    text-align: justify;
    font-size: 24px;
  
}
.header-t img{
    width: 100%;
    height: 100%;
}


.header-m{
    background-color:#232122;
    color: white;
 align-items: center;
 display: flex;
 justify-content: space-between;
 line-height: 24px;
 padding: 24px 150px;
 text-align: justify;
 width: 100%;
 height: 100px;
}
.search{
    height: 52px;
    width: 757px;
    justify-content: end;
    align-items: center;
    border: #555 1.1px solid;
    color: wheat;
    display: flex;
    line-height: 24px;
    padding: 0 24px;
    text-align: justify;
}
.locationBtn{
    width: 140px;
    height: 24px;

}
.header-b{
    height: 84px;
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    line-height: 24px;
    padding: 15px 150px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lSide{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 5px;
}
.layout{
    display: flex;
    align-items: center;
    justify-content: flex-end;
     background-color:#232122;
    display: flex;
    gap: 20px;
    padding: 20px 150px;
}
