<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/gBackClone/src/template/style.css">
</head>
<body>
<header>
    <div class="header-t">
        <img src="/gBackClone/src/template/GB_HEADER.5bbb1a2.gif" alt="">
    </div>
    <div class="header-m">
        <article> <button class="header-btn">دریافت وام</button></article>
        <article class="search">
            <section ><input type="text" placeholder="جستجوی فروشگاه و کالا"></section>
            <button class="locationBtn">انتخاب استان</button></section>
            <section><img src="/gBackClone/src/template/download.svg" alt="">
        </article>
        <article class="logo"><a href=""> <img src="/gBackClone/src/template/لوگو_وام_فوری_جیبک.3fd5cee.svg" alt=""></a></article>
    </div>
    <div class="header-b">
        <section class="lSide">
            <button>ورود فروشگاه</button>
            <a class="lSide"  href="">
                <p>پشتیبانی آنلاین</p>
                <img src="/gBackClone/src/template/download (1).svg" alt="">
            </a>
        </section>
        <section>
            <nav>
                <a href="">درباره جیبک</a>
                <a href="">بلاگ</a>
                <a href="">فروشگاه ها</a>
            </nav>
        </section>
    </div>
</header>
<main class="layout">
    <div></div>
    <div>
        <h3>دسته بندی</h3>
        <a href="">کالای دیجیتال</a>
        <a href="">لوازم خانگی</a>
        <a href="">طلا و جواهرات</a>
        <a href="">فرش</a>
    </div>
</main>
</body>
</html>