@font-face {
  font-family: 'Yekan';
  src: url('./template/Yekan.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Yekan', sans-serif;
}
